<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <settings>
      <setting name="Media.MediaLinkServerUrl" value="true"/>
      <!-- Azure blob storage -->
      <setting name="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=[AccountName];AccountKey=[account key]" />
      <setting name="AzureContainer" value="cdn" />
      <setting name="AzureSyncFolder" value="Sync/" />
      <setting name="OrignalPrefix" value="https://AccountName.blob.core.windows.net/cdn" />
    
    
    </settings>

    <processors>
      <!-- Custom Pipeline to attach file -->
      <attachFile>
        <processor mode="on" type="Sitecore.CDN.AzurePublishing.UpdateMedia, Sitecore.CDN.AzurePublishing" />
      </attachFile>
    </processors>

    <pipelines>
      <!-- Custom Pipeline to Process Media Items -->
      <publishItem>
        <processor type="Sitecore.CDN.AzurePublishing.CdnPublish,Sitecore.CDN.AzurePublishing"
      patch:before="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.PerformAction, Sitecore.Kernel']">
          <!--If yes, this custom CDN publishing processor will be executed otherwise not. Values: yes|no-->
          <Enabled>yes</Enabled>
        </processor>
      </publishItem>
    </pipelines>




    <linkManager defaultProvider="sitecore">
      <providers>
        <add patch:instead="*[@name='sitecore']" name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="false" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="never" languageLocation="filePath" lowercaseUrls="true" shortenUrls="true" useDisplayName="false"/>
      </providers>
    </linkManager>


    <hooks>
      <hook type="Sitecore.CDN.AzurePublishing.MediaProvider, Sitecore.CDN.AzurePublishing">
        <!--Use zure cdn URL for all media items-->
        <originPrefix>https://Mysite.azureedge.net/</originPrefix>
        <sites>collette-us|collette-uk|collette-ca|thomasCook|aaa</sites>
      </hook>
    </hooks>
  </sitecore>


</configuration>
